<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just one student</title>
</head>
<body>
  <a href="/students">Home</a>
  <h1>My favourite student</h1>

  <h2><%= student.name %> is in year <%= student.year %> and belongs to <%= student.house %><h2>

  <form method="POST" action="/students/<%= studentId %>">
    <label>Set year: </label>
    <input 
      type="number"
      name="student-year"
    />
    <button type="submit">Submit</button>
  </form>

  <form method="POST" action="/students/<%= studentId %>/delete">
    <button type="submit">Delete Student</button>
  </form>
</body>
</html>
